<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{122,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,43}}</string>
                <key>sourceSize</key>
                <string>{122,45}</string>
            </dict>
            <key>button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{122,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,43}}</string>
                <key>sourceSize</key>
                <string>{122,45}</string>
            </dict>
            <key>castle1_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,43},{86,68}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{86,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle1_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,43},{86,72}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{86,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle2_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{86,68}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{86,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle2_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,115},{86,72}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{86,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,115},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{13,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>laser1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,115},{20,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>laser2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,115},{20,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,7}}</string>
                <key>sourceSize</key>
                <string>{20,7}</string>
            </dict>
            <key>munch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,187},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>munch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,187},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>quirk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,187},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>quirk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,187},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,187},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>zap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,187},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>Sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
