<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{241,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{241,84}}</string>
                <key>sourceSize</key>
                <string>{243,90}</string>
            </dict>
            <key>button_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,0},{241,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{241,84}}</string>
                <key>sourceSize</key>
                <string>{243,90}</string>
            </dict>
            <key>castle1_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{172,136}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{172,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>castle1_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,84},{172,142}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{172,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>castle2_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{172,136}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{172,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>castle2_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,226},{172,142}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{172,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,226},{26,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{26,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>laser1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,226},{40,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{40,14}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>laser2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,226},{40,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,14}}</string>
                <key>sourceSize</key>
                <string>{40,14}</string>
            </dict>
            <key>munch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{98,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>munch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,368},{98,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quirk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,368},{40,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>quirk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,368},{40,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,368},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,368},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
